<div class="category-bottom">
    <div class="container">
        <p>With it's ability to provide a light and fresh feel to any room, silver wallpaper is the first choice when its come to brightening up a room.</p>
        <p>Available in both plain and patterned designs, in this collection of silver wallpapers we have selected wallcoverings perfect for being displayed throughout an entire room such as the <a href="">Grasscloth Textured Silver</a> Wallpaper and other's which are ideal for using as an eye catching feature wallpaper such as the <a href="">Lemur Jungle Metallic Silver Wallpaper.</a> Also known for its versatility and ability to work with other colourways, some of our favourite silver colour combinations are available in the collection such as navy and silver wallpaper, white and silver wallpaper and black and silver wallpaper.</p>
        <a href="#" class="readmore">Read more</a>
    </div>
</div>