<?php 
echo $block->escapeHtml('<h1>My First Template</h1>', ['h1','p']);
echo $block->escapeHtml('<p>With Layout support</p> <a href="http://test.local" target="_blank" rel="noopener noreferrer">Test</a> ', ['h1','p','a']);

?>