
<h1>new block html</h1>

<?=  $block->getdata('label')  ?>

<ul>
<?php
    $argumentArray = $block->getdata('argumentArray');
    foreach ($argumentArray as $key => $value) { ?>
        <li><?= $value ?></li>
<?php } ?>
</ul>
<h1>end new block</h1>
