.cwiw {
    width: 100%;
    clear: both;
    float: none;
    text-align: center;
}
.cwiw .row {
    margin-bottom: 20px;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    .col-md-4 {
        width: 25%;
    }
}
