.cwiw {
    width: 100%;
    clear: both;
    float: none;
    text-align: center;
    background: none;
    padding: 80px 0;
}
.cwiw .row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cwiw .row .col-md-4 {
    width: calc(25% - 10px);
    padding: 5px;
}
.cwiw .row .col-md-4 a {
    display: block;
    border-radius: 20px;
    background: #fff;
    padding: 30px;
}

.cwiw .row .col-md-4 h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    margin-bottom: 0;
    color: #000;

    text-align: center;
}

.cwiw .row .col-md-4 .category_image {
    padding-top: 75%;
    position: relative;
}

.cwiw .row .col-md-4 .category_image img {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: contain; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cwiw .row .col-md-4:last-child() .category_image img {
    object-fit: none;
}
.cwiw a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .cwiw .row .col-md-4 {
        width: calc(50% - 10px);
        padding: 5px;
    }
}
