<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="delivery opc-block-summary">
    <span data-bind="i18n: 'EST delivery'" class="title"></span>
    <p>
        <span data-bind="text: getCountry()"></span>
    </p>
</div>
