<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.frontend_name}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order_data.email_customer_note|escape|nl2br":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var shipping_msg":"Shipping message",
"var created_at_formatted":"Order Created At (datetime)",
"var store.frontend_name":"Store Frontend Name",
"var store_phone":"Store Phone",
"var store_email":"Store Email",
"var store_hours":"Store Hours",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_data.is_not_virtual":"Order Type",
"var order":"Order",
"var order_id": "Order DB Id",
"var order_data.customer_name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<table class="w-full">
    <tr>
        <td class="title-order text-center">
            <h1>
                {{trans 'Your Order <span class="no-link">#%increment_id</span>'
                increment_id=$order.increment_id |raw}}
            </h1>
        </td>
    </tr>
    <tr>
        <td class="content-email">
            <table>
                <tr>
                    <td>
                        <p class="greeting">
                            {{trans "Hi %customer_name,"
                            customer_name=$order_data.customer_name}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            {{trans "Sed ut perspiciatis unde omnis iste natus
                            error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab
                            illo inventore veritatis et quasi architecto beatae
                            vitae dicta sunt explicabo." }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="placed-on">
                        <p>
                            {{trans 'Placed on
                            <span class="no-link">%created_at</span>'
                            created_at=$created_at_formatted |raw}}
                        </p>
                    </td>
                </tr>

                <tr class="email-information">
                    <td>
                        {{depend order_data.email_customer_note}}
                        <table class="message-info w-full">
                            <tr>
                                <td>
                                    {{var
                                    order_data.email_customer_note|escape|nl2br}}
                                </td>
                            </tr>
                        </table>
                        {{/depend}}
                        <table class="order-details w-full">
                            <tr>
                                <td class="address-details">
                                    <h3>{{trans "Billing Info"}}</h3>
                                    <p>{{var formattedBillingAddress|raw}}</p>
                                </td>
                                {{depend order_data.is_not_virtual}}
                                <td class="address-details">
                                    <h3>{{trans "Shipping Info"}}</h3>
                                    <p>{{var formattedShippingAddress|raw}}</p>
                                </td>
                                {{/depend}}
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="placed-on method-info">
                        <h3>
                            {{trans "Payment / "}}{{trans "Shipping Method"}}
                        </h3>
                        {{var payment_html|raw}}
                        <p>{{var order.shipping_description}}</p>
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="order-total">
                        {{layout handle="sales_email_order_items"
                        order_id=$order_id area="frontend"}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
