<h1>load js form knockout</h1>
<table>
    <thead>
        <tr>
            <td>Country Name></td>
            <td>Currency</td>
            <td>Rate</td>
        </tr>
    </thead>
    <!-- <tbody data-bind="foreach: getCountryCurrency">
        <tr>
            <td data-bind="text: country"></td>
            <td data-bind="text: currency"></td>
            <td data-bind="text: rate"></td>
        </tr>
    </tbody> -->
</table>
