<h2>text input render by knockout</h2>
<!-- My View-Model file is Codilar_HelloWorld/js/viewModel -->
<p>
    <strong data-bind="i18n: 'Bio:'"></strong>
    <!-- ko if: bio -->
    <span data-bind="text: bio"></span>
    <!-- /ko -->

    <!-- ko ifnot: bio -->
    <span data-bind="i18n: 'Bio needs to be written.'"></span>
    <!-- /ko -->
</p>

<fieldset class="fieldset">
    <label class="label" for="bio">
        <strong data-bind="i18n: 'Add you bio content:'"></strong>
    </label>
    <div class="control">
        <textarea id="bio" cols="5" rows="5" data-bind="textInput: bio">
        </textarea>
    </div>
</fieldset>
