<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundHelper

/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */


?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category'); //get current category

?>
<div class="header-icon">
    <div class="box">
        <div class="icon"><img src='<?php echo $this->getViewFileUrl('images/free.png'); ?>' alt="Demo"></div>
        <div class="text">Free Delivery Over £60</div>
    </div>
    <div class="box">
        <div class="icon"><img src='<?php echo $this->getViewFileUrl('images/percent.png'); ?>' alt="Demo"></div>
        <div class="text">DCO PRO Trade discounts</div>
    </div>
    <div class="box">
        <div class="icon"><img src='<?php echo $this->getViewFileUrl('images/icon1.png'); ?>' alt="Demo"><img src='<?php echo $this->getViewFileUrl('images/icon2.png'); ?>' alt="Demo"></div>
        <div class="text">DECORATE TODAY, PAY LATER</div>
    </div>
    <div class="box">
        <div class="icon"><img src='<?php echo $this->getViewFileUrl('images/star.png'); ?>' alt="Demo"></div>
        <div class="text">5 star feefo rated</div>
    </div>
</div>
<div class="top-category-wrapper">
    <div class="container">

        <h1><?= $category->getName(); ?></h1>

        <?php if ($description = $block->getCurrentCategory()->getDescription()) : ?>
            <div class="category-description">
                <?php $descriptionHtml = $this->helper(Magento\Catalog\Helper\Output::class)->categoryAttribute(
                    $block->getCurrentCategory(),
                    $description,
                    'description'
                ); ?>
                <?php if (stripos($description, 'data-appearance') === false) : ?>
                    <div data-content-type="row" data-appearance="contained" data-element="main" class="description">
                        <div data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-element="inner" style="justify-content: flex-start; display: flex; flex-direction: column;
                     background-position: left top; background-size: cover; background-repeat: no-repeat;
                     background-attachment: scroll; border-style: none; border-width: 1px; border-radius: 0px;
                     margin: 0px 0px 10px; padding: 10px;">
                            <div data-content-type="html" data-appearance="default" data-element="main" style="border-style: none; border-width: 1px; border-radius: 0px; margin: 0px; padding: 0px;">
                                <?= /* @noEscape */ $descriptionHtml; ?>
                            </div>
                        </div>
                    </div>
                <?php else : ?>
                    <?= /* @noEscape */ $descriptionHtml; ?>
                <?php endif; ?>
                <div class="category-description__readmore">
                    <span>Read More</span> <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 1V11M1 6H11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </div>
            </div>
        <?php endif; ?>
    </div>

</div>