@primary-cl: #ca5f30;
@secondary-cl: #31240d;
.cms-checkpoint-1-layout {
    .page-main {
        max-width: none;
        padding: 0;
    }
}
.container {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
.banner {
    &__inner {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            display: block;
        }
    }
    background: url("../images/banner-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 44px;
    padding-bottom: 70px;
    &__content {
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
        &__btn {
            @media (max-width: 768px) {
                margin-bottom: 40px;
            }
        }
        &__inner {
            max-width: 440px;
        }
        h1 {
            font-weight: 326;
            font-size: 40px;
            line-height: 48px;
            /* identical to box height */

            letter-spacing: 0.05em;
            text-transform: uppercase;

            color: #292824;
            margin-bottom: 24px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */

            letter-spacing: 0.02em;

            color: #292824;
            margin-bottom: 24px;
        }
        a {
            color: @primary-cl;
            text-decoration: none;
        }
    }
    &__images {
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.info {
    padding: 80px 0;
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__image {
        width: 50%;
        @media (max-width: 768px) {
            display: none;
        }
        margin-top: -30px;
    }
    &__text {
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
        h2 {
            font-weight: 326;
            font-size: 28px;
            line-height: 32px;
            /* identical to box height, or 114% */
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #292824;
            margin-bottom: 16px;
            margin-top: 0;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */

            letter-spacing: 0.02em;

            color: #292824;
            margin-bottom: 40px;
        }
    }
}

.enquire {
    padding: 64px 0;
    background: @secondary-cl;
    color: #fff;
    font-family: "Tungsten";
    font-style: normal;
    font-weight: 326;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    span {
        display: inline-block;
        padding-right: 15px;
        vertical-align: middle;
    }
    a {
        display: inline-block;
        vertical-align: middle;
    }
}

.ml-16 {
    margin-left: 16px;
}
.mr-16 {
    margin-right: 16px;
}

.btn {
    font-weight: 326;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    padding: 12px 24px;
    border-radius: 3px;
    transition-duration: 0.5s;
    text-decoration: none;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    &__nomal {
        font-size: 16px;
        text-transform: inherit;
        padding: 4px 16px;
    }
    &.btn-primary {
        background: @primary-cl;
        color: #fff;
        border: solid 1px @primary-cl;
        &:hover {
            background: #fff;
            color: @primary-cl;
            border: solid 1px @primary-cl;
        }
    }
    &.btn-second__outline {
        background: none;
        color: @secondary-cl;
        border: solid 1px @secondary-cl;
        &:hover {
            background: @secondary-cl;
            color: #fff;
            border: solid 1px @secondary-cl;
        }
    }
    &.btn-second {
        background: @secondary-cl;
        color: #fff;
        border: solid 1px @secondary-cl;
        &:hover {
            background: #fff;
            color: @secondary-cl;
            border: solid 1px @secondary-cl;
        }
    }
    &.btn-second-opacity {
        background: rgba(49, 36, 13, 0.25);
        color: #fff;
        border: solid 1px rgba(49, 36, 13, 0.25);
        &:hover {
            background: #fff;
            color: @secondary-cl;
            border: solid 1px @secondary-cl;
        }
    }
}
