@import "checkpoint1.less";
@import "owl.carousel.min.less";
@import "owl.theme.green.min.less";
@import "subscribe.less";

@cl-body: #fcfcfc;
@cl-body-2: #f8f8f8;
@cl-white: #fff;

.bg-fcfcfc {
    background: @cl-body-2 !important;
}
body {
    background: @cl-body !important;
}
body {
    .bg-fcfcfc;
    @media (max-width: 921px) {
        background: @cl-white !important;
    }
}
