#subscribe-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background: #5b9f8e;
    padding: 16px 27px;
    transform: rotate(90deg);
    position: fixed;
    top: 30%;
    left: 55px;
    cursor: pointer;
    transform-origin: 0 0;
    z-index: 9999;
}
.subscribe-form {
    .action-close {
        margin: 30px;
    }
    .modal-inner-wrap {
        max-width: 540px;
        background: #ffffff;
        border-radius: 8px;
        padding: 30px 20px 60px 20px;
        transform: translateY(-50%) !important;
        top: 45%;
        .subscribe-form__content {
            max-width: 400px;
            margin: auto;
            text-align: center;
            h3 {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                font-style: italic;
                text-align: center;
                color: #242e38;
            }
            h2 {
                font-weight: 700;
                font-size: 24px;
                line-height: 40px;
                text-align: center;
                color: #242e38;
                span {
                    color: #5b9f8e;
                }
            }
            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #666b70;
            }
            form {
                width: 350px;
                margin: auto;
                position: relative;
                margin-top: 40px;
                input {
                    width: 100%;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #242e38;
                    padding: 15px;
                    padding-right: 40px;
                    border: none;
                    border-bottom: 1px solid #242e38;
                }
                button {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    background: none;
                    border: none;
                    box-shadow: none;
                    z-index: 99;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
