@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
        url("../fonts/Gilroy-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.woff2") format("woff2"),
        url("../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
        url("../fonts/Gilroy-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
        url("../fonts/Gilroy-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.woff2") format("woff2"),
        url("../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
        url("../fonts/Gilroy-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tungsten";
    src: url("../fonts/Tungsten-Bold.woff2") format("woff2"),
        url("../fonts/Tungsten-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: "Tungsten";
//     src: url("../fonts/Tungsten-Semibold.woff2") format("woff2"),
//         url("../fonts/Tungsten-Semibold.woff") format("woff");
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Tungsten";
//     src: url("../fonts/Tungsten-Light.woff2") format("woff2"),
//         url("../fonts/Tungsten-Light.woff") format("woff");
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Tungsten";
//     src: url("../fonts/Tungsten-Medium.woff2") format("woff2"),
//         url("../fonts/Tungsten-Medium.woff") format("woff");
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Tungsten";
//     src: url("../fonts/Tungsten-Semibold.woff2") format("woff2"),
//         url("../fonts/Tungsten-Semibold.woff") format("woff");
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Tungsten";
//     src: url("../fonts/Tungsten-Semibold.woff2") format("woff2"),
//         url("../fonts/Tungsten-Semibold.woff") format("woff");
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Tungsten";
//     src: url("../fonts/Tungsten-Thin.woff2") format("woff2"),
//         url("../fonts/Tungsten-Thin.woff") format("woff");
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Tungsten";
//     src: url("../fonts/Tungsten-Black.woff2") format("woff2"),
//         url("../fonts/Tungsten-Black.woff") format("woff");
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }
