<h1>Product</h1>
<div class="page-products">
    <div class="products-grid">
        <div class="list items product-items" data-bind="foreach: listProduct">
            <div class="item product product-item">
                <a data-bind="attr: { href: url }">
                    <img data-bind="attr: { src: image, alt: name }" />
                </a>

                <div class="product name product-item-name">
                    <a data-bind="attr: { href: url }"
                        ><span data-bind="text: name"></span
                    ></a>
                </div>
                <div class="price-box">
                    <div class="price" data-bind="text: price"></div>
                </div>
            </div>
        </div>
    </div>
</div>
