<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\App\Action\Action;

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 * @var \Magento\Framework\Escaper $escaper
 * @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
/** @var \Magento\Catalog\Helper\Output $_helper */
$_helper = $block->getData('outputHelper');
?>
<?php if (!$_productCollection->count()) : ?>
    <div class="message info empty">
        <div><?= $escaper->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
    </div>
<?php else : ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() === 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @noEscape */ $viewMode ?> products-<?= /* @noEscape */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product) : ?>
                <li class="item product product-item">
                    <div class="product-item-info" id="product-item-info_<?= /* @noEscape */ $_product->getId() ?>" data-container="product-<?= /* @noEscape */ $viewMode ?>">
                        <?php
                        $productImage = $block->getImage($_product, $imageDisplayArea);
                        if ($pos != null) {
                            $position = 'left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;';
                        }
                        ?>
                        <?php // Product Image 
                        ?>
                        <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>" class="product photo product-item-photo" tabindex="-1">
                            <?= $productImage->toHtml() ?>
                        </a>
                        <div class="product details product-item-details">
                            <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
                            <strong class="product name product-item-name">
                                <a class="product-item-link" href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                    <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                </a>
                            </strong>
                            <?php // $block->getReviewsSummaryHtml($_product, $templateType) 
                            //remove rating
                            ?>

                            <?= $block->getProductDetailsHtml($_product) ?>

                            <div class="product-item__stock">
                                <?php
                                // get excluding price
                                $regular_price = $_product->getPriceInfo()->getPrice('regular_price')->getAmount()->getBaseAmount();

                                $final_price = $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount();
                                $sales_percent = round((100 - ($final_price / $regular_price * 100)), 0);
                                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                $stockItem = $objectManager->get('\Magento\CatalogInventory\Model\Stock\StockItemRepository');
                                $productId = $_product->getId();
                                $productStock = $stockItem->get($productId);
                                $productData = $productStock->getData();
                                $notify_stock_qty = 0;
                                if ($productData["qty"] <= $productData["notify_stock_qty"]) {
                                    $notify_stock_qty = $productData["qty"];
                                }


                                // var_dump($regular_price, $final_price, $sales_percent);
                                ?>
                                <?php
                                if ($notify_stock_qty > 0) :
                                ?>
                                    <div class="stock notify_stock">
                                        <span><?= $escaper->escapeHtml(__('Only ' . (int)$notify_stock_qty . ' Left')) ?></span>
                                    </div>
                                <?php elseif ($_product->isAvailable()) : ?>
                                    <div class="stock available">
                                        <span><?= $escaper->escapeHtml(__('In stock')) ?></span>
                                    </div>

                                <?php else : ?>
                                    <div class="stock unavailable">
                                        <span><?= $escaper->escapeHtml(__('Out of stock')) ?></span>
                                    </div>
                                <?php endif; ?>
                                <?php
                                if ($sales_percent > 0) {
                                ?>
                                    <div class="sales-percent">
                                        <strong><?= $sales_percent ?></strong>% Off
                                    </div>
                                <?php
                                }
                                ?>
                            </div>

                            <div class="price-wrappe-cm">

                                <?= /* @noEscape */ $block->getProductPrice($_product) ?>

                                <div class="product-item-inner">
                                    <div class="product actions product-item-actions">
                                        <div class="actions-primary">
                                            <?php if ($_product->isSaleable()) : ?>
                                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                <form data-role="tocart-form" data-product-sku="<?= $escaper->escapeHtml($_product->getSku()) ?>" action="<?= $escaper->escapeUrl($postParams['action']) ?>" method="post">
                                                    <?php $options = $block->getData('viewModel')->getOptionsData($_product); ?>
                                                    <?php foreach ($options as $optionItem) : ?>
                                                        <input type="hidden" name="<?= $escaper->escapeHtml($optionItem['name']) ?>" value="<?= $escaper->escapeHtml($optionItem['value']) ?>">
                                                    <?php endforeach; ?>
                                                    <input type="hidden" name="product" value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                                    <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?=
                                                                                                                                                /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                                                                                                                ?>">
                                                    <?= $block->getBlockHtml('formkey') ?>
                                                    <button type="submit" title="<?= $escaper->escapeHtmlAttr(__('Add to Cart')) ?>" class="action tocart " disabled>
                                                        <span><svg width="31" height="21" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M3.71875 0.5H4.71875V3.5H7.71875V4.5H4.71875V7.5H3.71875V4.5H0.71875V3.5H3.71875V0.5ZM30.7188 8.26L27.7227 20.5H12.7157L9.71875 8.26H12.7928L17.3538 1.5L18.3757 2.204L14.2887 8.26H26.0548L21.9688 2.204L22.9897 1.5L27.5527 8.26H30.7188ZM29.1388 9.511H11.2987L13.6847 19.251H26.7528L29.1388 9.511Z" fill="#242E38" />
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </form>
                                            <?php else : ?>
                                                <?php if ($_product->isAvailable()) : ?>
                                                    <div class="stock available">
                                                        <span><?= $escaper->escapeHtml(__('In stock')) ?></span>
                                                    </div>
                                                <?php else : ?>
                                                    <div class="stock unavailable">
                                                        <span><?= $escaper->escapeHtml(__('Out of stock')) ?></span>
                                                    </div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                        <?= ($pos && strpos($pos, $viewMode . '-primary')) ?
                                            /* @noEscape */ $secureRenderer->renderStyleAsTag(
                                                $position,
                                                'product-item-info_' . $_product->getId() . ' div.actions-primary'
                                            ) : '' ?>
                                        <div data-role="add-to-links" class="actions-secondary">
                                            <?php if ($addToBlock = $block->getChildBlock('addto')) : ?>
                                                <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                            <?php endif; ?>
                                        </div>
                                        <?= ($pos && strpos($pos, $viewMode . '-secondary')) ?
                                            /* @noEscape */ $secureRenderer->renderStyleAsTag(
                                                $position,
                                                'product-item-info_' . $_product->getId() . ' div.actions-secondary'
                                            ) : '' ?>
                                    </div>
                                    <?php if ($showDescription) : ?>
                                        <div class="product description product-item-description">
                                            <?= /* @noEscape */ $_helper->productAttribute(
                                                $_product,
                                                $_product->getShortDescription(),
                                                'short_description'
                                            ) ?>
                                            <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>" title="<?= /* @noEscape */ $_productNameStripped ?>" class="action more"><?= $escaper->escapeHtml(__('Learn More')) ?></a>
                                        </div>
                                    <?php endif; ?>

                                </div>
                            </div>

                        </div>
                    </div>
                    <?= ($pos && strpos($pos, $viewMode . '-actions')) ?
                        /* @noEscape */ $secureRenderer->renderStyleAsTag(
                            $position,
                            'product-item-info_' . $_product->getId() . ' div.product-item-actions'
                        ) : '' ?>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php //$block->getChildBlock('toolbar')->setIsBottom(true)->toHtml() 
    ?>
    <?php // phpcs:ignore Magento2.Legacy.PhtmlTemplate 
    ?>
    <script type="text/x-magento-init">
        {
        "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {
                "product_sku": "<?= $escaper->escapeJs($_product->getSku()) ?>"
            }
        }
    }
    </script>
<?php endif; ?>