<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Header"}} @-->
<!--@vars {
"var logo_url":"Email Logo Image URL",
"var logo_alt":"Email Logo Alt Text",
"var logo_height":"Email Logo Image Height",
"var logo_width":"Email Logo Image Width",
"var template_styles|raw":"Template CSS"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        {
                {
                var template_styles|raw
            }
        }

            {
                {
                css file="css/email.css"
            }
        }
    </style>
</head>

<body>
    {{inlinecss file="css/email-inline.css"}}

    <!-- Begin wrapper table -->
    <table class="wrapper" width="100%">
        <tr>
            <td class="wrapper-inner" align="center">
                <table class="main" align="center">
                    <tr>
                        <td style="background: #fff">
                            <table style=" width: 100%; " align="center">
                                <tr style="vertical-align: middle; display: flex; align-items: center; justify-content: space-between;">
                                    <td style="padding-left: 20px;">
                                        <img src="{{view url='Magento_Email/images/myaccount.png'}}" height="21"
                                            width="105" alt="{{trans 'Custom image'}}" />

                                    </td>
                                    <td>
                                        <a class="logo" href="{{store url=""}}">
                                            <img src="{{view url='Magento_Email/images/logo.png'}}" height="64"
                                                width="72" alt="{{trans 'Custom image'}}" />
                                        </a>
                                    </td>
                                    <td style="padding-right: 20px;">
                                        <img src="{{view url='Magento_Email/images/trustpilot.png'}}" height="64"
                                            width="72" alt="{{trans 'Custom image'}}" />
                                    </td>

                                </tr>
                                <tr>
                                    <td style="padding: 24px 3px;background: #323941; " colspan="3">
                                        <div style="margin-top:0;margin-bottom:25px;font-size:16px;font-weight:700;color:#fff;text-align:center;display: flex;justify-content: space-around;flex-wrap: wrap; margin-bottom: 0;">
                                            <span style="list-style: none;  padding:   12px; display:inline-block; ">Mobile Phones</span>
                                            <span style="list-style: none;  padding:   12px; display:inline-block; ">Tablets</span>
                                            <span style="list-style: none;  padding:   12px; display:inline-block; ">Games Consoles</span>
                                            <span style="list-style: none;  padding:   12px; display:inline-block; ">Laptops</span>
                                            <span style="list-style: none;  padding:   12px; display:inline-block; ">Smart Watches</span>
                                            <span style="list-style: none;  padding:   12px; display:inline-block; ">Accessories</span>
                                            <span style="list-style: none;  padding:   12px; display:inline-block; ">All Refurbished</span>
                                            <span style="list-style: none;  padding:   12px; display:inline-block; ">Deals</span>
                                            <span style="list-style: none;  padding:   12px; display:inline-block; ">Gadget Finder</span>
                    
                                        </ul>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            <!-- Begin Content -->