.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
}
.catalog-category-view {
    @media (max-width: 768px) {
        .compare {
            display: none !important;
        }
    }
    .nav-sections {
        margin-bottom: 0;
    }
    .column.main {
        padding-top: 0 !important;
    }
    .header-icon {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        @media (max-width: 768px) {
            justify-content: center;
        }
        .box {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            img {
                display: inline-block;
                vertical-align: middle;
                padding-right: 15px;
            }
            @media (max-width: 1200px) {
                &:nth-child(3) {
                    display: none;
                }
            }
            @media (max-width: 768px) {
                &:nth-child(4) {
                    display: none;
                }
                &:nth-child(1) {
                    display: none;
                }
            }
        }
    }
    .top-category-wrapper {
        background: #242e38;
        padding: 20px 0;
        h1 {
            font-weight: 700;
            font-size: 36px;
            line-height: 75px;
            /* or 208% */

            display: flex;
            align-items: center;

            color: #ffffff;
            margin-bottom: 9px;
        }
        .category-description {
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            /* or 175% */
            color: #ffffff;
            justify-content: space-between;
            align-items: flex-start;
            display: flex;

            &__readmore {
                white-space: nowrap;
                span {
                    display: inline-block;
                    padding-right: 15px;
                }
            }
        }
    }
    .products-grid {
        .container;
        .product-item {
            background: #fff !important;
            &-info {
                background: #fff;
                &:hover,
                &.active {
                    background: #fff;
                    box-shadow: none;
                    border: none;
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }
        }
    }
    .product-items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px !important;
        margin-right: -15px !important;
        .product-item {
            width: 25% !important;
            padding: 15px !important;
            background: none !important;
            margin: 0;
            @media (max-width: 920px) {
                width: 33.3333% !important;
            }
            @media (max-width: 768px) {
                width: 50% !important;
            }
            &-details {
                padding: 20px;
                padding-bottom: 70px;
                position: relative;
            }
            &-info {
                width: 100% !important;
            }
            &-inner {
                border: none !important;
                margin: 0 !important;
                padding: 0 !important;
                padding-left: 10px !important;
                &::before {
                    display: none;
                }
            }
            &-name {
                margin-top: 0;
                a {
                    font-size: 18px;
                }
            }
            &-actions {
                margin: 0 !important;
                border: none !important;
                text-align: right;
                .tocompare {
                    display: none !important;
                }
                .action.towishlist:before {
                    width: 20px;
                    height: 18px;
                    content: "";
                    background-image: url(../images/towishlist.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            .product-image-wrapper {
                padding-bottom: 100% !important;
                .product-image-photo {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__stock {
                display: flex;
                padding: 30px 0;
                padding-bottom: 10px;
                justify-content: space-between;
                align-items: center;
                .stock {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    color: #727f88;
                    &.available span::before {
                        content: "";
                        width: 9px;
                        height: 9px;
                        border-radius: 9px;
                        margin-right: 10px;
                        background: #5e9f8f;
                        display: inline-block;
                    }
                    &.notify_stock span::before {
                        content: "";
                        width: 9px;
                        height: 9px;
                        border-radius: 9px;
                        margin-right: 10px;
                        background: #f98c0c;
                        display: inline-block;
                    }
                    &.unavailable span::before {
                        content: "";
                        width: 9px;
                        height: 9px;
                        border-radius: 9px;
                        margin-right: 10px;
                        background: red;
                        display: inline-block;
                    }
                }
                .sales-percent {
                    padding: 6px 7px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #ffffff;
                    background: #e95e53;
                }
            }

            .price-wrappe-cm {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 15px;
                left: 0;
                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;
                .product-item-inner {
                    width: auto !important;
                    position: relative !important;
                    width: 100% !important ;
                    height: auto !important;
                    background: none !important;
                    box-shadow: none !important;
                    .tocart {
                        background: none;
                        border: none;
                    }
                }
                .price-box {
                    margin: 0 !important;
                    .price-label {
                        display: none !important;
                    }
                    .price {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 18px;

                        color: #242e38;
                    }
                    .special-price .price {
                        color: rgba(233, 94, 83, 1) !important;
                        position: absolute;
                        bottom: calc(100% - 9px);
                    }
                    .old-price .price {
                        font-weight: 400;
                        font-size: 15.75px;
                        line-height: 16px;
                        /* or 100% */
                        text-decoration-line: line-through;
                        color: rgba(36, 46, 56, 0.5);
                    }
                }
            }
        }
    }
    .filter {
        margin-bottom: 15px !important;
        background: #dee0e3;
        position: relative;
        border: none !important;
        padding-left: 0;
        padding-right: 0;
        &-content {
            margin-top: 0 !important;
        }
        // &::before {
        //     position: absolute;
        //     content: "";
        //     right: 100%;
        //     height: 100%;
        //     width: 3000px;
        //     background: #dee0e3;
        //     top: 0;
        // }
        // &::after {
        //     position: absolute;
        //     content: "";
        //     left: 100%;
        //     height: 100%;
        //     width: 3000px;
        //     background: #dee0e3;
        //     top: 0;
        // }
        .filter-title {
            display: none;
        }
        .filter-current,
        .filter-actions {
            padding: 15px !important;
        }

        .filter-options {
            display: flex !important;
            flex-wrap: wrap !important;
            margin-left: -15px !important;
            margin-right: -15px !important;
            margin: 0 !important;
            .filter-options-item {
                width: 20%;
                margin: 0;
                padding: 15px !important;
                box-sizing: border-box;

                @media (max-width: 768px) {
                    width: 50%;
                    border-bottom: none;
                }
                &::before,
                &::after {
                    display: none !important;
                }

                .filter-options-title {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    display: block;
                    text-align: center;
                    color: #363f51;
                    border: solid 1px #94979b;
                    padding: 15px;
                    border-radius: 3px;
                    padding-right: 30px;

                    &::after {
                        right: 15px;
                        top: 50%;
                        z-index: 3;
                        transform: translateY(-50%);
                    }
                }
                .filter-options-content {
                    width: ~"calc(100% - 32px)";
                    top: ~"calc(100% - 19px)";
                    padding: 0;
                    box-shadow: none;
                    border: solid 1px #94979b;
                    border-radius: 0 0 3px 3px;
                    max-height: 200px;
                    overflow-y: auto;
                    border-top: none;
                    @media (max-width: 768px) {
                        width: 100%;
                        background: #fff;
                        box-sizing: border-box;
                        margin-top: -1px;
                    }
                    .items {
                        list-style: none;
                        padding-left: 0;
                        margin-bottom: 0;
                        .item {
                            padding: 5px 10px;
                        }
                    }
                }
                &.active .filter-options-title {
                    border-bottom: none;
                    background: #fff;
                    border-radius: 3px 3px 0 0;
                }
            }
        }
    }
    .category-bottom {
        padding: 55px 0;
        border-top: 1px solid #c7cfd6;
        p {
            font-size: 16px;
            line-height: 29px;
            /* or 180% */
            color: #94979b;
            margin-bottom: 20px;
        }
        a {
            font-weight: 700;
            font-size: 16px;
            line-height: 32px;
            /* or 200% */

            text-decoration-line: underline;
            color: #94979b;

            &.readmore {
                color: #323940;
            }
        }
    }
}
