.block-title {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    #block-related-heading {
        font-weight: 300;
        font-size: 40px;
        line-height: 48px;
        /* identical to box height */

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #292824;
    }
    .slick-button {
        display: flex;
        align-items: center;
        &__prev {
            margin-right: 20px;
            cursor: pointer;
        }
        &__next {
            cursor: pointer;
        }
        img {
            width: 50px;
            height: auto;
        }
    }
}
.products {
    .slick-list {
        .product-item {
            margin: 9px;
        }
        .product-item-info {
            width: 100%;
            .product-image-container {
                width: ~"calc(100% - 20px)" !important;
                img {
                    width: 100% !important;
                }
            }
            .product-item-photo {
                display: block;
                position: relative;
                .product__instock {
                    position: absolute;
                    top: 20px;
                    right: 40px;
                    z-index: 999;
                    padding: 5px 10px;
                    padding-left: 25px;
                    background: #d0e9d7;
                    color: #34a853;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 8px;
                        height: 8px;
                        background: #34a853;
                        border-radius: 10px;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                    }
                }
            }
            .product-item-name {
                font-size: 15px;
                line-height: 20px;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: #292824;
                margin-top: 10px;
                justify-content: space-between;
                padding-right: 20px;
                .product-item-link {
                    font-size: 15px;
                }
                .secondary-addto-links {
                    span {
                        display: none;
                    }
                    .tocompare {
                        display: none;
                    }
                    .towishlist {
                        &:after,
                        &:before {
                            display: none;
                        }
                    }
                }
            }
            .product_sku {
                font-size: 12px;
                line-height: 20px;
                /* identical to box height, or 167% */

                display: flex;
                align-items: center;
                letter-spacing: 0.02em;

                color: #292824;
            }
            .normal-price {
                .price-label {
                    display: none;
                }
                .price {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    /* identical to box height, or 133% */

                    display: flex;
                    align-items: center;
                    letter-spacing: 0.02em;

                    color: #292824;
                }
            }
        }
    }
}
.products-grid .product-item-info:hover,
.products-grid .product-item-info.active {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 10px !important;
}
