<?php
echo $block->escapeHtml('<h1>My First Template get form phtml</h1>', ['h1', 'p']);
echo $block->getData('content_from_block');
echo $block->getUrl() . 'coffeemugex1/expost/page1';

?>

<div data-bind="scope: 'renderProduct'">
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "renderProduct": {
                        "component": "Coffeemug_ModuleExample/js/knockout-renderProduct",
                        "config": {
                            "template": "Coffeemug_ModuleExample/productlist",
                            "url": "<?php echo $block->getUrl() . 'coffeemugex1/expost/page1' ?>"
                        }    
                    }
                }
            }
        }
    }
</script>