.w-full {
    width: 100%;
    h3 {
        font-weight: 500;
        font-size: 24px;
        color: #1f2629;
        margin-bottom: 16px;
    }
}
.text-center {
    text-align: center;
}
.title-order {
    padding: 48px 20px;
    background: #007afb;
    text-align: center;
    h1 {
        color: #fff;
    }
}
.placed-on {
    padding: 16px 0;
    border-bottom: 1px solid #d5d7e3;
    border-top: 1px solid #d5d7e3;
}
.content-email {
    padding: 20px;
    background: #fff;
}

.order-total {
    padding-top: 40px;
}
.email-items {
    width: 100%;
}
