<?php
$categories = $this->getCategoryCollection();
$categoryHelper = $this->getCategoryHelper();
?>
<div class="widget block block-static-block cwiw" id="catewithimg">
    <div class="block-content container">

        <div class="row">
            <?php
            foreach ($categories as $category) :
                $cat = $this->getCategorymodel($category->getId());
                $image = $cat->getImageUrl();
            ?>
                <?php if ($image != null) : ?>
                    <div class="col-md-4">
                        <a class="category_name" href="<?php echo $cat->getUrl(); ?>">
                            <div class="category_image">
                                <img src="<?php echo $image; ?>" class="img-responsive " alt="<?php echo $cat->getName(); ?>" />

                            </div>
                            <h3><span><?php echo $cat->getName(); ?></span></h3>
                        </a>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>

            <div class="col-md-4">
                <a class="category_name" href="<?php echo $cat->getUrl(); ?>">
                    <div class="category_image">
                        <img src="<?php echo $this->getViewFileUrl('images/arrow-right.png'); ?>" class="img-responsive " style="object-fit: none;" alt="All Other Brands" />

                    </div>
                    <h3><span style="color: #007AFB;">All Other Brands</span></h3>
                </a>
            </div>
        </div>
    </div>
</div>