<div class="banner">
    <div class="banner__inner container">
        <div class="banner__content">
            <div class="banner__content__inner">
                <h1>EUREKA ORO PROMETHEUS</h1>
                <p>An unparalleled grinder for the busiest commercial venues and baristas who demand only the best, offering up to 20KG daily output, plus a multitude of excellent features.</p>
                <p>To enquire contact LeeK@jesuk.co.uk or click below.</p>
                <div class="banner__content__btn">
                    <a href="#" class="btn btn-primary mr-16">enquire now</a>
                    <a href="#" class="btn btn-second__outline">learn more</a>
                </div>
            </div>

        </div>
        <div class="banner__images">
            <img src='<?php echo $this->getViewFileUrl('images/banner-content-img.png'); ?>' alt="Demo">
        </div>
    </div>
</div>

<div class="info">
    <div class="container">
        <div class="info__inner">
            <div class="info__image">
                <img src='<?php echo $this->getViewFileUrl('images/phone-1.png'); ?>' alt="Demo">
            </div>
            <div class="info__text">
                <p>
                    <a href="#" class="btn btn-second btn__nomal mr-16">Features</a>
                    <a href="#" class="btn btn-second-opacity btn__nomal">Specification</a>
                </p>
                <h2>
                    Touch Display with 3 programmable doses
                </h2>
                <p>"Extra Dose" mode and maintenance alerts</p>
                <h2>New ELR System</h2>
                <p>
                    With the sloped grinding chamber providing extremely low retention.
                </p>
                <h2>Automatic filter holder recognition</h2>
                <p>Removing the need for manual dose selection.</p>
                <h2>Electronic adjustment of burrs positioning</h2>
                <p>Directly adjustable from both the touch display and regulation knob.</p>
                <h2>Integrated IoT connectivity</h2>
                <p>With specific apps dedicated to roasters and users, ensuring constant grinder monitoring and performance measurement.</p>
                <h2>Cool grinder</h2>
                <p>Temperature monitoring of the grinding chamber combined with the forced cooling system grants consistent performance over time.</p>
                <h2>Silent Technology </h2>
                <p>Reducing the grinding noise by over 20 dB compared to comparable grinders.</p>
                <h2>"High Speed" grind dispersion</h2>
                <p>Special engine-burrs set optimises the dispensing speed while preserving the optimum temperature of freshly ground coffee.</p>
                <h2>"High Speed" maintenance of burrs</h2>
                <p>(Without losing the grinding setting).</p>
                <h2>All-purpose fork for "Hands-Free" operation</h2>
                <p>Adjustable in height and compatible with any type of filter holder (including naked).</p>
                <h2>Bean hopper security system</h2>
                <h2>Diamond inside burrs</h2>
                <p>Guarantees a superior wear resistance and duration, and preserves optimal burrs sharpness for longer than any other burr material.</p>
            </div>
        </div>
    </div>
</div>

<div class="enquire">
    <div class="container">
        <div class="enquire__inner">
            <span>EUREKA ORO PROMETHEUS IS NOW AVAILABLE </span> <a href="#" class="btn btn-primary ml16">enquire now</a>
        </div>
    </div>
</div>