<hr />

<h1 data-bind="i18n: 'Knockout js'"></h1>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "timer-scope": {
                        "component": "js/knockout-js",
                        "timerMessage": "Hello Magento 1"
                    }
                }
            }
        }
    }
    </script>
<div id="custom-component" data-bind="scope:'timer-scope'">

    <h2 data-bind="text: heading"></h2>
    <!-- ko if: fname -->
    <h3><?= __('First name:') ?> <span data-bind="text: fname"></span></h3>
    <!-- /ko -->
    <!-- ko if: lname -->
    <h3><?= __('Last name: ') ?><span data-bind="text: lname"></span></h3>
    <!-- /ko -->
    <!-- ko if: fname -->
    <h3><?= __('Full name: ') ?><span data-bind="text: name"></span></h3>
    <!-- /ko -->


    <button data-bind="click: removeFullname"><?= __('Renove fullname') ?></button>
    <ul data-bind="foreach: getNumbers">
        <li data-bind="text: $data"></li>
    </ul>

    <table>
        <thead>
            <tr>
                <td><?= __('Country Name') ?></td>
                <td><?= __('Currency') ?></td>
                <td><?= __('Rate') ?></td>
            </tr>
        </thead>
        <tbody data-bind="foreach: getCountryCurrency">
            <tr>
                <td data-bind="text: country"></td>
                <td data-bind="text: currency"></td>
                <td data-bind="text: rate"></td>
            </tr>
        </tbody>
    </table>

</div>

<hr />

<div data-bind="scope: 'koexample'">
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
</div>

<script type="text/x-magento-init">
    {
            "*": {
                "Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>
            }
        }
</script>

<hr>

<div data-bind="scope: 'renderText'">
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
</div>

<script type="text/x-magento-init">
    {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "renderText": {
                            "component": "js/knockout-rendertext",
                            "template" : "Magento_Theme/rendertext"                        
                        }
                    }
                }
            }
        }
</script>




<div id="selector" data-bind="scope: 'parentComponent'">
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
</div>

<script type="text/x-magento-init">
    {
        "#selector": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "parentComponent": {
                        "component": "js/parent-component",
                        "config": {
                            "provider": "parentComponent.childComponent",
                            "template": "Magento_Theme/person"
                        },
                        "children": {
                            "childComponent": {
                                "component": "js/child-component",
                                "config": {
                                    "provider": "parentComponent"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</script>