<div id="some-element">

</div>
<script type="text/x-magento-init">
    {
        "#some-element": {
            "js/config-data":
                <?= $block->getJsLayout() ?>
        }
    }
</script>
<div id="simple-js">
    ...
</div>
<script type="text/x-magento-init">
    {
        "#simple-js": {
            "js/simple": {
                "message":"aaaaaaaaa"
            }
        }
    }
    
</script>
<div id="alias-js">
    ...
</div>
<!-- <script type="text/x-magento-init">
    {
        "#alias-js": {
            "aliasJS" : 
                <?= $block->getJsLayout() ?>
            
        }
    }
</script> -->
<script>
    require(['jquery', 'aliasJS'], function($, aliasJS) {
        aliasJS();
    });
</script>



<!-- <div data-mage-init='{"aliasJS":{"config":"config data"}}'>
</div> -->

<textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('Comment')) ?>" class="input-text" data-mage-init='{"js/validation": {"maxlen":"150","messagebox":"charNum"}
}'></textarea>

<span id="charNum"></span>

<div class="owl-carousel owl-theme">
    <div class="item">
        <h4>1</h4>
    </div>
    <div class="item">
        <h4>2</h4>
    </div>
    <div class="item">
        <h4>3</h4>
    </div>
    <div class="item">
        <h4>4</h4>
    </div>
    <div class="item">
        <h4>5</h4>
    </div>
    <div class="item">
        <h4>6</h4>
    </div>
    <div class="item">
        <h4>7</h4>
    </div>
    <div class="item">
        <h4>8</h4>
    </div>
    <div class="item">
        <h4>9</h4>
    </div>
    <div class="item">
        <h4>10</h4>
    </div>
    <div class="item">
        <h4>11</h4>
    </div>
    <div class="item">
        <h4>12</h4>
    </div>
</div>

<script>
    require([
        'jquery',
        'js/owl-carousel',
        'domReady!'
    ], function($) {
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        });
    });
</script>

<div id="accordion-example">
    <div data-role="collapsible">
        <div data-role="title">
            <?= $block->escapeHtml('Accordion Title') ?>
        </div>
        <div data-role="content">
            <p><?= $block->escapeHtml('Accordion content...') ?></p>
        </div>
    </div>
    <div data-role="collapsible">
        <div data-role="title">
            <?= $block->escapeHtml('Accordion Title') ?>
        </div>
        <div data-role="content">
            <p><?= $block->escapeHtml('Accordion content...') ?></p>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
 "#accordion-example":
    {"accordion":{"openedState": "active", "collapsible": false, "active": false, "multipleCollapsible": false}
    }
 }
</script>