<div id="subscribe-button" class="subscribe-button" data-trigger="trigger-subscribe">
    Subscribe for 10% off
</div>



<div id="modal" data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'trigger': '[data-trigger=trigger-subscribe]',
            'responsive': true,
            'buttons': [],
            'modalClass':'subscribe-form'
        }}">
    <div class="subscribe-form__content">
        <div class="subscribe-form__content__inner">
            <h3>New to DCO?</h3>
            <h2>Subscribe for <span>10% off</span> your first order</h2>
            <p>Get helpful decorating advice, tips and special offers </p>
            <form action="">
                <input type="text" placeholder="Your email address">
                <button class="submit" type="submit"> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 12L19 12" stroke="#666B70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 5L19 12L12 19" stroke="#666B70" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>

            </form>
        </div>
    </div>
</div>